@import "tailwindcss";

/* #bottom{
    background: linear-gradient(transparent,black);
} */

.nav-btn-primary {
  @apply px-6 py-2 rounded-xl bg-blue-600 hover:bg-blue-500 transition;
}
.nav-btn-secondary {
  @apply px-6 py-2 rounded-xl bg-white/10 hover:bg-white/20 transition;
}

.home-card {
  @apply flex items-center justify-center
  h-40 rounded-2xl
  bg-white/5 backdrop-blur
  border border-white/10
  text-2xl font-semibold
  hover:bg-white/10 hover:scale-105
  transition;
}
